<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greedygame.sample.sdk8.java">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".BaseApplication"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <activity android:name=".BaseActivity" />
        <activity android:name=".showcase.nongames.travel_app.TravelDashboard" />
        <activity android:name=".showcasemenu.ShowcaseMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        GreedyGame Stuff-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name="com.greedygame.android.core.campaign.uii.web.GGWebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GGTransparent"/>

        <activity
            android:name="com.greedygame.android.core.mediation.greedygame.GGS2SActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GGTransparent"/>

        <activity
            android:name="com.greedygame.android.core.mediation.admob.GGAdMobActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|layoutDirection"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.GGTransparent"/>
<!--        GreedyGame Stuff -->
    </application>

</manifest>